[Desktop Entry]
Type=Application
Name=Start SRT Sofware
Comment=Open the complete SRT observing workstation
Exec=/home/astro/21-cm-radio-telescope-v2/receiver_scheduler/start_srt_software.sh
Path=/home/astro/21-cm-radio-telescope-v2
Terminal=false
Icon=applications-science
Categories=Science;
StartupNotify=true
